<mat-card [class.selected]="isSelected(post)" style="overflow: hidden;" class="blog-card">
    <img style="position: absolute; top: -5px; left:-5px; height: 110%; width: 110%; "
    class="img-fluid" src='../../../assets/typewrite.jpg'/>
    <div class="overlay">        
        <mat-card-header>
            <mat-card-title>{{post.title.substring(0,15)}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{post.body.substring(0,120)}}
            </p>
        </mat-card-content>
        <button class='details-btn' (click)="onSelect(post)">view details</button>
    </div>
</mat-card>