@use '../../../scss/color';
@use '../../../scss/mixins';

.blog-card {
  position: relative;
  height: 400px;
  background-color: color.$greylight-color;
  overflow: hidden;

  .bg-img {
    @include mixins.position-absolute(0, 0);
    bottom: 0;
  }
  .overlay {
    position: relative;
    margin: 5%;
    padding: 20px;
    width: 90%;
    height: 90%;
    opacity: 0.9;
    background: color.$grey-color;
  }
  mat-card-title {
    color: color.$main-accent;
  }

  mat-card-content {
    color: color.$white-color;
    padding: 10px;
  }

  .details-btn {
    @include mixins.position-absolute(80%, 50%);
    transform: translateX(-50%);
  }
}

.selected {
  border: solid color.$blue-color 2px;
}

@media (min-width: 1200px) {
  .blog-card {
    max-width: 400px;
    height: 400px;
  }
}
