@use '../../../scss/color';
@use '../../../scss/mixins';

.comment-list {
  padding-top: 20px;
}
.blog-name {
  padding: 10px;
  border-radius: 10px;
  @include mixins.grey-border;
}

.comment-form {
  position: relative;
  @include mixins.grey-border;
  margin-top: 20px;
  height: 100px;
  border-radius: 10px;

  .comment-input {
    @include mixins.position-absolute(50%, 0);
    margin-left: 20px;
    color: color.$grey-color;
    transform: translateY(-50%);
  }
}
