@use '../../../scss/color';

.comment-list {
  padding-top: 20px;
}
.blog-name {
  padding: 10px;
  border-radius: 10px;
  border: solid 1px color.$grey-color;
}

.comment-form {
  position: relative;
  border: solid 1px color.$grey-color;
  margin-top: 20px;
  height: 100px;
  border-radius: 10px;

  .comment-input {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 20px;
    color: color.$grey-color;
    transform: translateY(-50%);
  }
}
