<!-- <app-add-post></app-add-post> -->
<app-edit-post-form></app-edit-post-form>
<div [class.loading]="(loading$ | async)" id="post-list" *ngIf="!(error$ | async); else error">
    <h2>
        Post List
    </h2>

    <div class='row' *ngIf="(postItems$ | async); else noPosts">
        <div class='col-md-4' *ngFor="let post of postItems$ | async">
            <app-post-card [post]="post"></app-post-card>
            <div class="icons" *ngIf="auth.user$ | async">
                <button (click)="editPost(post.id)"><i class="fas fa-pen"></i></button>
                <button (click)="deletePost(post.id)"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
    </div>

    <ng-template #noPosts>
        <ul>
            <li style="max-width:250px;margin:0 auto;">No Posts to Display</li>
        </ul>
    </ng-template>

</div>

<ng-template #error>
    <h2 class='alert-danger'>{{(error$ | async)?.message}}</h2>
</ng-template>