<h2>the post is {{postid}}</h2>
<div [class.loading]="(loading$ | async)" id="post-list" *ngIf="!(error$ | async); else error">

    <div class='container' *ngIf="(posts); else noPosts">
        <h3> {{posts.title}}</h3><br />
        <p>{{posts.body}}</p>
        <button (click)="viewComments()">responses</button>
    </div>

    <ng-template #noPosts>
        <ul>
            <li style="max-width:250px;margin:0 auto;">No Posts to Display</li>
        </ul>
    </ng-template>

</div>

<ng-template #error>
    <h2 class='alert-danger'>{{(error$ | async)?.message}}</h2>
</ng-template>
<button (click)="next()">next</button>
<button (click)="previous()">previous</button>
<button (click)="backToList()">Back to List</button>