<div id="wrapper">
  <div [class.loading]="(loading$ | async)" id="post-list" *ngIf="!(error$ | async); else error">
    <div id="list">
      <h2>
        Post List
      </h2>

        <ul *ngIf="(postItems | async); else noPosts">
          <li *ngFor="let post of postItems | async">
            <span>{{ post.title }}</span>
          </li>
        </ul>

      <ng-template #noPosts>
        <ul>
          <li style="max-width:250px;margin:0 auto;">No posts to display.</li>
        </ul>
      </ng-template>
    </div>
    
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>