@use './scss/color';
@use './scss/mixins';

@import "~@angular/material/theming";

@include mat-core();

html,
body {
  height: 100%;
  color: color.$black-color;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border-radius: 5px;
  padding: 5px;
  transform: 0.5s;
}

button:hover {
  background-color: color.$main-accent;
  color: color.$white-color;
}

.form {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 90%;
}

.centered {
  @include mixins.position-absolute(50%, 50%);
  transform: translate(-50%, -50%);
}
